html {
  font-family: 'Urbanist', sans-serif;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a,
Link {
  text-decoration: none;
  color: black;
}
input:invalid {
  border: 0.5px solid red;
}

input:valid {
  border: 0.5px solid lightgray;
}